$color-primary:#001580;
$color-primary-2: #4da9ff;
$color-primary-3:#23d4fe;
$color-primary-4: #003aa5;

$color-secondary: #ff6200;

$color-white: #fff;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;

$color-black: #000;

$default-font-size: 1.6rem;